@import "./global.scss";

.fivedaysSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dayCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $sm-shadow;
  background-color: $secondary-background-color;
  border-radius: 10px;
  width: 20%;
  height: 100%;
  margin: 0 0.5rem;
  transition: background-color 0.8s, transform 0.5s;

  h2 {
    font-size: 0.5rem;
    margin: 0.5rem 0;
  }
  &:hover {
    cursor: pointer;
    transform: translateY(-6px);
    background-color: #ffffd8;
  }

  img {
    padding: 1rem 0;
    width: 70%;
  }
  p {
    padding: 0.5rem;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .fivedaysSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .dayCard {
    width: 15%;
    img {
      width: 80%;
    }
    h2 {
      font-size: 20px;
    }
  }
}
