$font-size: 1rem;
$font-color: #1f1f1f;
$primary-background-color: #789deb;
// $secondary-background-color: rgb(142, 179, 248);
$secondary-background-color: white;

$bigFontSize: 3rem;
$midFontSize: 1.3rem;
$smallFontSize: 1rem;

$box-shadow: 0px 10px 12px 1px rgb(254, 242, 8);
$sm-shadow: 0 1.5px 10px 1px rgb(39, 55, 102);

* {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  background-color: $primary-background-color;
  color: $font-color;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  background-color: $secondary-background-color;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  // border: 1px solid gray;
  border-radius: 1.5rem;
  padding: 1.3rem;
  // background: linear-gradient(#c3f2fe, #44b8ab);

  // &_fiveDays h2{
  //   font-family: ;
  // }
  &_banner {
    display: flex;
    justify-content: center;
    // color: #052724;
    h1 {
      font-size: $bigFontSize;
    }
  }
}

.container + * {
  margin: 1.5rem auto;
}
