@import "./global.scss";

.hourCard {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $sm-shadow;
  background-color: $secondary-background-color;
  border-radius: 10px;
  color: black;
  width: 100%;
  margin: 1.3rem auto;
  transition: height 1s;
  img {
    margin: 0.5rem 2rem;
    width: 20%;
  }
  p {
    padding: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .threeHoursSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .hourCard {
    display: none;
    flex-direction: column;
    align-items: center;
    box-shadow: $sm-shadow;
    background-color: $secondary-background-color;
    border-radius: 10px;
    color: black;
    width: 15%;
    margin: 1.3rem;
    transition: height 1s;
    font-size: 20px;
    img {
      padding: 1.2rem;
      width: 90%;
    }
    p {
      padding: 0.5rem;
      font-size: $midFontSize;
    }
  }
}
