* {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #789deb;
  color: #1f1f1f;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  background-color: white;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  border-radius: 1.5rem;
  padding: 1.3rem;
}
.container_banner {
  display: flex;
  justify-content: center;
}
.container_banner h1 {
  font-size: 3rem;
}

.container + * {
  margin: 1.5rem auto;
}

* {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #789deb;
  color: #1f1f1f;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  background-color: white;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  border-radius: 1.5rem;
  padding: 1.3rem;
}
.container_banner {
  display: flex;
  justify-content: center;
}
.container_banner h1 {
  font-size: 3rem;
}

.container + * {
  margin: 1.5rem auto;
}

.threeHoursSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hourCard {
  display: none;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1.5px 10px 1px rgb(39, 55, 102);
  background-color: white;
  border-radius: 10px;
  color: black;
  width: 15%;
  margin: 1.3rem;
  transition: height 1s;
}
.hourCard img {
  padding: 1.2rem;
  width: 90%;
}
.hourCard p {
  padding: 0.5rem;
  font-size: 1.3rem;
}
.hourCard h2 {
  font-size: 1.6rem;
}

@media screen and (max-width: 376px) {
  .threeHoursSection {
    display: flex;
    flex-direction: column;
  }
  .hourCard {
    width: 70%;
  }
}
* {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #789deb;
  color: #1f1f1f;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  background-color: white;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  border-radius: 1.5rem;
  padding: 1.3rem;
}
.container_banner {
  display: flex;
  justify-content: center;
}
.container_banner h1 {
  font-size: 3rem;
}

.container + * {
  margin: 1.5rem auto;
}

.container_fiveDays h1 {
  text-align: center;
}

.fivedaysSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1.5px 10px 1px rgb(39, 55, 102);
  background-color: white;
  border-radius: 10px;
  width: 80%;
  margin: 2rem;
  transition: background-color 0.8s, transform 0.5s;
}
.dayCard:hover {
  cursor: pointer;
  transform: translateY(-6px);
  background-color: #ffffd8;
}
.dayCard img {
  padding: 1.5rem;
  width: 50%;
}
.dayCard p {
  padding: 0.5rem;
  font-size: 1.3rem;
}

@media screen and (min-width: 1024px) {
  .fivedaysSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .dayCard {
    width: 15%;
  }
  .dayCard img {
    width: 80%;
  }
}

/*# sourceMappingURL=index.css.map */
